/* Split CSS: import focused style files */
@import "./styles/base.css";
@import "./styles/layout.css";
@import "./styles/buttons.css";
@import "./styles/header.css";
@import "./styles/movies.css";
@import "./styles/skeletons.css";
@import "./styles/search.css";
@import "./styles/details.css";
